// --- behaviorsブロック内のmouse_scrl定義を確認 ---
    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        // マウスホイールの挙動（正転・逆転はここで調整可能）
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0: Windows Default
        win_def_layer {
            bindings = <
&kp Q      &kp W     &kp E  &kp R  &kp T                                   &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A      &kp S     &kp D  &kp F  &kp G                                   &kp H  &kp J  &kp K      &kp L    &kp BSPC
&kp Z      &kp X     &kp C  &kp V  &kp B                                   &kp N  &kp M  &kp COMMA  &kp DOT  &kp ENTER
&kp LCTRL  &kp LALT  &to 1  &mo 5  &mt LSHIFT SPACE  &lt 3 LANG2  &lt 2 LANG1  &mt RSHIFT SPACE  &mo 6  &kp LGUI
>;
            sensor-bindings = <&mouse_scrl>; // エンコーダースクロール有効
        };

        // 1: MOUSE (このレイヤーでもエンコーダーを使えるように追加)
        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &trans  &trans    &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans                         &trans  &mkp MB1  &trans  &mkp RCLK  &kp BSPC
&trans  &trans  &trans  &trans  &trans                         &trans  &trans    &trans  &trans     &kp ENTER
&trans  &trans  &to 0   &trans  &trans  &trans         &trans  &trans  &trans    &trans
>;
            sensor-bindings = <&mouse_scrl>; // ★ここを追加：マウスレイヤー中もスクロール可能
        };

        // --- 以下、他レイヤーのsensor-bindings設定 ---

        // 2: Windows MARK (Zoom用)
        win_mark_layer {
            // ... (bindingsは前回同様)
            sensor-bindings = <&re_kp LC(MINUS) LC(PLUS)>;
        };

        // 7: iPad Default
        ipad_def_layer {
            // ... (bindingsは前回同様)
            sensor-bindings = <&mouse_scrl>; // エンコーダースクロール有効
        };

        // 8: iPad MARK (Zoom用)
        ipad_mark_layer {
            // ... (bindingsは前回同様)
            sensor-bindings = <&re_kp LG(MINUS) LG(PLUS)>;
        };
    };
